extends layout

block content
  //- DXTR
  //- RPRX
  //- TISA
  .uk-card.uk-card-primary.uk-card-body
    h3.uk-card-title DXTR 
    p Amount raised: $1234.00
    p Amount needed: $2000.00
    a.uk-button.uk-button-default(href="#" onclick="swalHandler(false)") Contribute
    p Recent Tweets
    table.table.table-striped.table-condensed
      thead
        tr#datahead(style="")
          th Tweet
          th Author
          th Sentiment
      tbody#tweetss
        tr
          td(style="word-break: break-all")
            | RT @VGaykin: $DXTR https://t.co/bMpKm4iAPj via @FINVIZ_com
            | https://t.co/S049wtghsD
          td BeforeTheCrowd
          td 0
        tr
          td(style="word-break: break-all")
            | #BBsStockHaven ― ClayTrader: * * $DXTR Video Chart… https://t.co/qTCc6zSeIb via → https://t.co/900g4SjLiX to best penny stock setups
          td Penny Stocks MOMO
          td 3
        tr
          td(style="word-break: break-all")
            | $DXTR https://t.co/bMpKm4iAPj via @FINVIZ_com
            | https://t.co/S049wtghsD
          td VGaykin
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Amy Lawson
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td PineconeK
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td 奚涧
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Trenton Hudkins
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Tattoosnewdelhi
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td fuck feelings
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Wallas-Peixoto
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Hayley
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td OneCoin.Sg
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Miss P
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Carla Rodriguez
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Silje Stenberg
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td jitendra
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Serkan Çatalkaya
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td mike
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Brandon Dennis
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Johanna Marin
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td DPW
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td 👸🏽
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Павел
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Don  Crawford
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Ibis Paredes
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Juno the Westie
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td wilmor
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td TryBeforePay.Com
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Mark Santiago
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td washingtone adeli
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td crystal cordero
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td GUGULOTH MOHAN
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Cindy Morrison
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Rakesh Chandramohan
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Ramy Rabie
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Tish
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Nicole ✌
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td SwigglySwagglyGetshr
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Michael Mims
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td thomas moulignier
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td WebDealsByAlex
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Chrissie Humphreys
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Banners Broker Op.
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Kathleen Hasty
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Germ
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td marc salamone
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Phil Walker
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Iñaki
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Jason Downie
          td 0
        tr
          td(style="word-break: break-all")
            | RT @JuicyPicks: $dxtr $titxf $amfe $byoc $csoc $bysd $omvs Our Next Penny Stock Pick  will Rock Your World! https://t.co/5n7eo6dmBa https:/…
          td Caleb Gray
          td 0
  br
  .uk-card.uk-card-primary.uk-card-body
    h3.uk-card-title RPRX 
    p Amount raised: $743.00
    p Amount needed: $1500.00
    a.uk-button.uk-button-default(href="#" onclick="swalHandler(false)") Contribute
    table.table.table-striped.table-condensed
      thead
        tr#datahead(style="")
          th Tweet
          th Author
          th Sentiment
      tbody#tweetss
        tr
          td(style="word-break: break-all")
            | Stocks to watch for trading and investing Oct 23-27th 2017  -  https://t.co/9oLOOZqNfq $LYL $RPRX $PETS $AGEN $UAA  $BIOP /RIOT
          td Vegastrader66
          td -2
        tr
          td(style="word-break: break-all")
            | https://t.co/uAcamNRUPt alerted $RPRX  See track record & join today https://t.co/7uWekI8Rdq $SALT $DNT $DOGE $TRUST $ENRG
          td Bilo Selhi
          td 2
        tr
          td(style="word-break: break-all")
            | Don't forget to study this weekend! $BIOA $SRAX $DRYS $ONVO $INPX $NEOT $RPRX Join the best trading team here :… https://t.co/fe4Ch76Vd6
          td Charles Becco
          td 5
        tr
          td(style="word-break: break-all")
            | RT @VGaykin: $RPRX https://t.co/OEOxtZwEZV via @FINVIZ_com
            | https://t.co/Qokh20dy2n
          td BeforeTheCrowd
          td 0
        tr
          td(style="word-break: break-all")
            | $RPRX https://t.co/OEOxtZwEZV via @FINVIZ_com
            | https://t.co/Qokh20dy2n
          td VGaykin
          td 0
        tr
          td(style="word-break: break-all")
            | RT @moniology: Monday's watchlist:
            | $INPX $EVEP $RPRX $AVIR $CYTX $NEOT $LRAD $APHB $RXII $USEG $WPCS
          td Berliner
          td 0
        tr
          td(style="word-break: break-all")
            | RT @mchaudhry82: AH Closing Price &/or Vol Leaders (a/o8pmEST): $AGEN $FGEN $PTN $TTS $acrx $rprx $HMNY $QURE $HSC $sppi $DXTR $P $srax $in…
          td TekMuNNee Options
          td 0
        tr
          td(style="word-break: break-all")
            | RT @picks_alert: $ACGX PeopleVine Spun Off to Separate Corporation https://t.co/2LymRATFbP @frontpagestocks $MSMY $RPRX $ENDV $ITKH $CWIR $…
          td Up2Par
          td 0
        tr
          td(style="word-break: break-all")
            | Gainers $AIMT $FGEN $SKX $TEAM $QURE $XNET $ONVO $DRYS $RPRX $TGTX $AVGR $INPX $JP $SRAX $TRXC $ACRX $DGLY $PYPL  #trade_to_profit
          td Trade_To_Profit
          td 0
        tr
          td(style="word-break: break-all")
            | Top Gainers Gainers $AIMT $FGEN $SKX $TEAM $QURE $XNET $ONVO $DRYS $RPRX $TGTX $AVGR $INPX $JP $SRAX $TRXC $ACRX… https://t.co/5ogeJh4m7s
          td Trade_To_Profit
          td 2
        tr
          td(style="word-break: break-all")
            | RT @WatchlistN: Repros Therapeutics Inc. $RPRX Sees Large Volume Increase https://t.co/CvqA8gQ5bZ
          td Matthew Hill ✠/KTI\✠
          td 1
        tr
          td(style="word-break: break-all")
            | Repros Therapeutics Inc. $RPRX Sees Large Volume Increase https://t.co/CvqA8gQ5bZ
          td Watchlist News
          td 1
        tr
          td(style="word-break: break-all")
            | AH Closing Price &/or Vol Leaders (a/o8pmEST): $AGEN $FGEN $PTN $TTS $acrx $rprx $HMNY $QURE $HSC $sppi $DXTR $P… https://t.co/u8OFxeJGLb
          td Maria Chaudhry
          td 0
        tr
          td(style="word-break: break-all")
            | $RPRX $SKX $SRAX $QURE $TEAM $SE $CAI $JP $TUSK $INPX - Top 10 Gainers on BlackBox today https://t.co/LJsC0rWzcs
          td Teresa66
          td 2
        tr
          td(style="word-break: break-all")
            | Awesome End to The Week💯
            | *10/12* Wins💰
            | 83% Accuracy🎯
            | $DGLY $ENRJ $DXTR $ADHD $BIOA $FPP $INPX $RPRX $MNKD
            | Have a… https://t.co/95zqsPloHo
          td MileHighBulls
          td 4
        tr
          td(style="word-break: break-all")
            | RT @ProfitTradeRoom: 1⃣2⃣Biggest Market Gainers $SKX $TEAM $QURE $XNET $ONVO $DRYS $RPRX $TGTX $AVGR $INPX $JP $SRAX $TRXC $ACRX $LYL $DGLY…
          td DeplorableJeanns🇺🇸
          td 0
        tr
          td(style="word-break: break-all")
            | RT @ProfitTradeRoom: 1⃣2⃣Biggest Market Gainers $SKX $TEAM $QURE $XNET $ONVO $DRYS $RPRX $TGTX $AVGR $INPX $JP $SRAX $TRXC $ACRX $LYL $DGLY…
          td Time=Best Stock
          td 0
        tr
          td(style="word-break: break-all")
            | RT @moniology: Monday's watchlist:
            | $INPX $EVEP $RPRX $AVIR $CYTX $NEOT $LRAD $APHB $RXII $USEG $WPCS
          td John L. Bair
          td 0
        tr
          td(style="word-break: break-all")
            | Monday's watchlist:
            | $INPX $EVEP $RPRX $AVIR $CYTX $NEOT $LRAD $APHB $RXII $USEG $WPCS
          td Moniology
          td 0
        tr
          td(style="word-break: break-all")
            | 1⃣2⃣Biggest Market Gainers $SKX $TEAM $QURE $XNET $ONVO $DRYS $RPRX $TGTX $AVGR $INPX $JP $SRAX $TRXC $ACRX $LYL… https://t.co/BRbjNjjGuf
          td Profit Trade Room 💰
          td 0
        tr
          td(style="word-break: break-all") $RPRX Will initiate position next week. https://t.co/2aLV8c5RVq
          td Moniology
          td 0
        tr
          td(style="word-break: break-all")
            | $RPRX | Custom Technical Chart for Repros Therapeutics via @Barchart
            | https://t.co/Z7Oj4oWbhQ $RPRX nice wage https://t.co/77jfkhsJRu
          td Stock Market Skeez
          td 3
        tr
          td(style="word-break: break-all")
            | Win $ENRJ $DXTR $RPRX $QURE $TISA $XNET $TEAM $SRAX $INVT $KALV
            | $DGLY $TUSK $CAI $ONVO $DRYS $ACRX $JP $RCON $TRXC $SRNE $NVIV $AVGR $SSYS
          td Isaac
          td 4
        tr
          td(style="word-break: break-all")
            | #BBsStockHaven ― ClayTrader: * * $RPRX Video Chart… https://t.co/sXAP2P9ZBV via → https://t.co/900g4SjLiX to best penny stock setups
          td Penny Stocks MOMO
          td 3
        tr
          td(style="word-break: break-all")
            | VIDEO - $RPRX Stock Technical Analysis - 10-20-17 - watch here: https://t.co/xpOEylnyYD #stock #stocks #stocktrading
          td ClayTrader
          td 0
        tr
          td(style="word-break: break-all")
            | @bkfViking123 @dfwhockeyguy I'm still in $SRNE...and $RPRX too...balls deep in $SGYP for the long haul
          td Chris Moriarty
          td 0
        tr
          td(style="word-break: break-all")
            | 🏆TOP 15 Gainers today:
            | $LYL $DXTR $RPRX $QURE $TISA $XNET $TEAM $SRAX $KALV $DGLY $ONVO $DRYS $TGTX $REDU $ACRX https://t.co/SRLkpuoim6
          td Anya
          td 0
        tr
          td(style="word-break: break-all")
            | $RPRX i messed up on this got anxious and called two days early but hope some of y'all caught 💥🙏🏽💸📈 https://t.co/9zs2WF9pPN
          td Rob Rivera
          td -2
        tr
          td(style="word-break: break-all")
            | $RPRX a big booooom for all the haters 💥 especially the ones who talk like they know something! ✅💸🤑
          td Rob Rivera
          td 0
        tr
          td(style="word-break: break-all")
            | has anyone else used this? i've been getting in on some great trades from it https://t.co/XB7P9KxlN5
            | $RFIL $RPRX… https://t.co/5xgXeQ0uSC
          td Logan Holmes
          td 3
        tr
          td(style="word-break: break-all") Did I miss something!?!?!?!?!?!? $RPRX https://t.co/9qM9tszJ00
          td PissedWhiteDude
          td -2
        tr
          td(style="word-break: break-all")
            | I hope they don't pull some BS on a Friday! $RPRX  Some GOOD news for once PLEASE! 🙏🙏🙏🙏 https://t.co/QujNxJ7fVp
          td PissedWhiteDude
          td 6
        tr
          td(style="word-break: break-all") RT @MONEYEMPIRE: $RPRX HOD
          td Time=Best Stock
          td 0
        tr
          td(style="word-break: break-all") $RPRX HOD
          td MoneyEmpire
          td 0
        tr
          td(style="word-break: break-all") WABAAAAM! $RPRX https://t.co/P9gOAcL42R
          td PissedWhiteDude
          td 0
        tr
          td(style="word-break: break-all") WOW still going on a Friday afternoon $RPRX https://t.co/t9sSpjwP7I
          td PissedWhiteDude
          td 4
        tr
          td(style="word-break: break-all") Nice little volume spike off the VWAP $RPRX https://t.co/kW0IQIzt7c
          td PissedWhiteDude
          td 3
        tr
          td(style="word-break: break-all")
            | $RPRX +170%. Alerted by https://t.co/uAcamNRUPt  SEE TRACK RECORD & SUBSCRIBE https://t.co/7uWekI8Rdq $NEO $GNT $ADA $ZCL $XLM
          td Bilo Selhi
          td 0
        tr
          td(style="word-break: break-all")
            | Somewhat Positive Press Coverage Somewhat Unlikely to Affect Repros Therapeutics $RPRX Stock Price https://t.co/m2uSlns5Az
          td Sleek Money
          td 1
        tr
          td(style="word-break: break-all")
            | $RPRX $CYTX Cytori Therapeutics (CYTX): Maxim Group sets target to $5.00 with buy rating.
          td heavyd
          td 0
        tr
          td(style="word-break: break-all") dank $dxtr $rprx oof $drrx // #selldrugs
          td Wu Weed™
          td 0
        tr
          td(style="word-break: break-all") $RPRX On watch. https://t.co/VXrFaSZDvM
          td Moniology
          td 0
        tr
          td(style="word-break: break-all")
            | Can it hold the midday lull and go higher on a Friday? $RPRX https://t.co/nIpKfeWiIj
          td PissedWhiteDude
          td 0
        tr
          td(style="word-break: break-all")
            | Top 10 Mid-Day Penny Gainers🤑📈
            | $INVT $DXTR $ENRJ $RPRX $DGLY $AVGR $DRYS $SRAX $ACRX $MNKD
            | #pennygainers #profit… https://t.co/UwPglrl8u8
          td MileHighBulls
          td 2
        tr
          td(style="word-break: break-all") RT @76enz: $RPRX 17%
          td Matthew Hill ✠/KTI\✠
          td 0
        tr
          td(style="word-break: break-all") RT @Trader6815: $RPRX Wow kinda late but I'm in!
          td Matthew Hill ✠/KTI\✠
          td 4
        tr
          td(style="word-break: break-all") RT @GreatnessH2: $RPRX is making moves. Keep the volume coming
          td Matthew Hill ✠/KTI\✠
          td 0
        tr
          td(style="word-break: break-all") RT @Ascend_Trading: $RPRX broke out of an intraday ascend triangle breakout
          td Matthew Hill ✠/KTI\✠
          td -1
        tr
          td(style="word-break: break-all") RT @MONEYEMPIRE: $RPRX  50 BREAK BIG MOVE HIGHER https://t.co/aHceuITUxV
          td Matthew Hill ✠/KTI\✠
          td 1
        tr
          td(style="word-break: break-all") $RPRX looking better...wants higher! https://t.co/GU3slk9q6C
          td ugaotrader
          td 0
  br
  .uk-card.uk-card-primary.uk-card-body
    h3.uk-card-title TISA 
    p Amount raised: $10435.00
    p Amount needed: $15000.00
    table.table.table-striped.table-condensed
      thead
        tr#datahead(style="")
          th Tweet
          th Author
          th Sentiment
      tbody#tweetss
        tr
          td(style="word-break: break-all")
            | Top Image Systems, Ltd. $TISA Receives $2.50 Consensus Price Target from Brokerages https://t.co/vzbyVEDRyL
          td Storm Investor
          td 2
        tr
          td(style="word-break: break-all")
            | Top Image Systems, Ltd. $TISA Receives $2.50 Consensus Price Target from Brokerages https://t.co/cMgxwAUCQX
          td Sleek Money
          td 2
        tr
          td(style="word-break: break-all")
            | $TISA - Top Image Systems, Ltd. #TISA Raised to Hold at Zacks Investment Research https://t.co/M4xkVP86PT
          td Zolmax News
          td 2
        tr
          td(style="word-break: break-all")
            | Top Image Systems, Ltd. $TISA Raised to Hold at Zacks Investment Research https://t.co/3fDjCJ3wbN
          td Dispatch Tribunal
          td 2
        tr
          td(style="word-break: break-all")
            | Top Image Systems, Ltd. $TISA Raised to Hold at Zacks Investment Research https://t.co/GNrI4zh4kz
          td Zolmax News
          td 2
        tr
          td(style="word-break: break-all")
            | Todays Top up: $SKX $QURE $TEAM $TISA Dwn: $SE $DRRX $DRNE $TACO Active: $GE $SE $SKX $AMD Range: $TEAM $CAI $SKX… https://t.co/gSCKJBLiv0
          td Intense Stocks
          td 3
        tr
          td(style="word-break: break-all")
            | $SRAX $XNET $SKX  new highs into market close! $TISA $TRXC hanging near highs too $ENRJ at lows  #trade_to_profit
          td Trade_To_Profit
          td 0
        tr
          td(style="word-break: break-all")
            | Market Close
            | $SRAX $XNET $SKX  new highs into market close!
            | $TISA $TRXC hanging near highs too
            | $ENRJ at lows
          td Trade_To_Profit
          td 0
        tr
          td(style="word-break: break-all")
            | Top Image Systems, Ltd. $TISA Sees Unusually-High Trading Volume https://t.co/72IesXLcNp
          td IRA Market Report
          td 2
        tr
          td(style="word-break: break-all")
            | Top Image Systems, Ltd. $TISA Sees Unusually-High Trading Volume https://t.co/o3VN6DPZoH
          td Chaffey Breeze News
          td 2
        tr
          td(style="word-break: break-all") stocks on watch $CUR $TISA
          td TAZ momentum trader
          td 0
        tr
          td(style="word-break: break-all")
            | WL for Monday: $QURE buy on morning / panic drops $SRAX $XNET $TRXC $TISA (PM/Morning spike) $BTCS / bitcoin plays for morning spike
          td Jason Epic
          td -3
        tr
          td(style="word-break: break-all")
            | Test out the scanner platform that WITHOUT I could have never turned 1K into 5.1K in 35 days… https://t.co/ytc7Mt3Nxj
          td Cameron
          td 0
        tr
          td(style="word-break: break-all")
            | RT @mchaudhry82: Vol Ratio Leaders (exc 10dy avg vol. a/o 1:59pm EST): $ENRj $dgly $skx $QURE $MYOS $apto $TUSK $TISA $XNET #StayGreen ☺️😘…
          td BlackBoxStocksTeah
          td 0
        tr
          td(style="word-break: break-all")
            | RT @mchaudhry82: Price &/or Vol Leaders (a/o 3:25pm EST): $ENRj $skx $DXTR $team $QURE $dgly $INPX $tisa $XNET $ONVO $srax $drys $TRXC $ssy…
          td BlackBoxStocksTeah
          td 0
        tr
          td(style="word-break: break-all")
            | Win $ENRJ $DXTR $RPRX $QURE $TISA $XNET $TEAM $SRAX $INVT $KALV
            | $DGLY $TUSK $CAI $ONVO $DRYS $ACRX $JP $RCON $TRXC $SRNE $NVIV $AVGR $SSYS
          td Isaac
          td 4
        tr
          td(style="word-break: break-all")
            | 🏆TOP 15 Gainers today:
            | $LYL $DXTR $RPRX $QURE $TISA $XNET $TEAM $SRAX $KALV $DGLY $ONVO $DRYS $TGTX $REDU $ACRX https://t.co/SRLkpuoim6
          td Anya
          td 0
        tr
          td(style="word-break: break-all")
            | Im holding  small position of $TISA over the weekend.  I hope it gap up on Monday.
          td Adan lopez
          td 2
        tr
          td(style="word-break: break-all")
            | has anyone else tried this? i've been getting in on some amazing trades through it https://t.co/g2COY8NHBO
            | $TA… https://t.co/302Mx1PiGb
          td Ken Lloyd
          td 4
        tr
          td(style="word-break: break-all")
            | RT @Super1NYC: Top % Gainers: $SKX 40%, $QURE 26%, $TEAM $TISA $DGLY $XNET $ONVO $SRAX $DRYS $ACRX $TGTX $JP $SRNE $SSYS $TRXC $ERIC $OSTK…
          td Time=Best Stock
          td 2
        tr
          td(style="word-break: break-all")
            | Market Last Minute:
            | $SRAX $XNET $SKX pushing to new highs into market close!
            | $VKX $TISA $TRXC near highs too
            | $ENRJ… https://t.co/XPn7T6bjA5
          td Profit Trade Room 💰
          td 0
        tr
          td(style="word-break: break-all")
            | Technology - Top Gainers / Losers as of 2:55 pm $TEAM $DGLY $TISA $XNET $DQ $NCR $OPNT $TCCO $SYNC $ASYS https://t.co/wOIFuCYwqC
          td André Luger
          td 2
        tr
          td(style="word-break: break-all") $TISA +26% $KALV +23% $SRAX +15% $JP +13% #momo
          td MosActiv
          td 0
        tr
          td(style="word-break: break-all")
            | Top up: $SKX $QURE $TEAM $TISA Dwn: $SE $DRRX $DRNE $TACO Active: $GE $SE $SKX $AMD Range: $TEAM $CAI $SKX $QURE https://t.co/rqkeEWlqTl
          td Intense Stocks
          td 3
        tr
          td(style="word-break: break-all") $SRAX spikes 25%, watch $QURE $TISA $NFLX $TSLA $SPPI
          td Peter Rumble
          td 0
        tr
          td(style="word-break: break-all") $QURE +26% $TISA +23% #momo
          td MosActiv
          td 0
        tr
          td(style="word-break: break-all") $TISA +20% $ONVO +16% $IPWR +10% #momo
          td MosActiv
          td 0
        tr
          td(style="word-break: break-all") $TISA +24% $SRAX +18% $SRNE +10% #momo
          td MosActiv
          td 0
        tr
          td(style="word-break: break-all")
            | Top % Gainers: $SKX 40%, $QURE 26%, $TEAM $TISA $DGLY $XNET $ONVO $SRAX $DRYS $ACRX $TGTX $JP $SRNE $SSYS $TRXC $ERIC $OSTK $ATHN $CROX $THC
          td Ace
          td 2
        tr
          td(style="word-break: break-all")
            | Price &/or Vol Leaders (a/o 3:25pm EST): $ENRj $skx $DXTR $team $QURE $dgly $INPX $tisa $XNET $ONVO $srax $drys… https://t.co/8tROBg5zer
          td Maria Chaudhry
          td 0
        tr
          td(style="word-break: break-all") $SRAX up 20%, gets to 6$ now $NFLX $TISA $QURE $NEOT $HMNY
          td Peter Rumble
          td 0
        tr
          td(style="word-break: break-all") 15:24 Pops: $TISA +4.7%
          td Large Void Bot
          td 0
        tr
          td(style="word-break: break-all")
            | Power hour watches for next week:
            | $CRR $CUR $SRAX $TISA
            | Dont miss out!~
            | Thankful for all 5.8K followers
          td Stockalerts
          td 4
        tr
          td(style="word-break: break-all") $QURE +23% $CAI +16% $TISA +14% $ABEOW +11% #momo
          td MosActiv
          td 0
        tr
          td(style="word-break: break-all") that seller yesterday was fake $tisa
          td $budfox$
          td -3
        tr
          td(style="word-break: break-all")
            | $TISA $1.55 +20.2% ON 915K VOL [PRICE-ACTION/VOLATILITY ALERT] https://t.co/woAZX0NtIw
          td Intense Stocks
          td 0
        tr
          td(style="word-break: break-all") $TEAM +25% $DGLY +23% $TISA +18% $ONVO +16% $WLB +16% #momo
          td MosActiv
          td 0
        tr
          td(style="word-break: break-all")
            | RT TopFiveTraders "RT SAlphaTech "Technology - Top Gainers / Losers as of 2:55 pm https://t.co/68qmWltGEA $TEAM $DGLY $TISA $XNET""
          td CNBCTraders
          td 2
        tr
          td(style="word-break: break-all")
            | Technology - Top Gainers / Losers as of 2:55 pm https://t.co/E6BHJBTd8N $TEAM $DGLY $TISA $XNET #sitifatimah #malaysia #financialplanning
          td Siti Fatimah
          td 2
        tr
          td(style="word-break: break-all")
            | RT SAlphaTech "Technology - Top Gainers / Losers as of 2:55 pm https://t.co/yxF4pACzEn $TEAM $DGLY $TISA $XNET"
          td TopFiveTraders
          td 2
        tr
          td(style="word-break: break-all")
            | Technology - Top Gainers / Losers as of 2:55 pm https://t.co/YxXID5CxFw $TEAM $DGLY $TISA $XNET
          td Seeking Alpha
          td 2
        tr
          td(style="word-break: break-all")
            | Technology - Top Gainers / Losers as of 2:55 pm https://t.co/JgRHJLAKgy $TEAM $DGLY $TISA $XNET
          td Tech Stocks
          td 2
        tr
          td(style="word-break: break-all")
            | Technology - Top Gainers / Losers as of 2:55 pm https://t.co/5rsr6lL2OJ $TEAM $DGLY $TISA $XNET
          td Breaking News
          td 2
        tr
          td(style="word-break: break-all") $TISA +15% #momo
          td MosActiv
          td 0
        tr
          td(style="word-break: break-all") $DGLY +24% $KALV +16% $DRYS +16% $TISA +16% $TRXC +10% #momo
          td MosActiv
          td 0
        tr
          td(style="word-break: break-all") $TISA +16% $ONVO +13% #momo
          td MosActiv
          td 0
        tr
          td(style="word-break: break-all") $TISA +19% #momo
          td MosActiv
          td 0
        tr
          td(style="word-break: break-all")
            | Vol Ratio Leaders (exc 10dy avg vol. a/o 1:59pm EST): $ENRj $dgly $skx $QURE $MYOS $apto $TUSK $TISA $XNET… https://t.co/4A7XAjCUsU
          td Maria Chaudhry
          td 0
        tr
          td(style="word-break: break-all") $QURE +21% $TISA +20% $ONVO +16% $JP +10% #momo
          td MosActiv
          td 0
        tr
          td(style="word-break: break-all") $TISA +24% #momo
          td MosActiv
          td 0
    a.uk-button.uk-button-default(href="#" onclick="swalHandler(false)") Contribute
  br

  script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.js")
  script(src="js/newstock.js")