extends layout

block content
    form.uk-search.uk-search-default(action="/stocksearch" method="POST")
      
        input.uk-search-input.uk-margin-left.uk-margin-top(type="search" id="typeahead-input" placeholder="Search Ticker" name="stock")

    .result
    script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="js/newstock.js")